.ProjectsTitle {
    background-size: 100vw;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.Projects h1 {
    font-size: 40px;
}

.Projects h2 {
    line-height: 40px;
    font-weight: 500;
}

.Projects h1.title {
    font-size: 60px;
    text-shadow: 1px 1px 1px black, 2px 2px 5px black;
}

.Projects h3.underTitle {
    line-height: 30px;
    font-size: 30px;
    color: rgb(200, 200, 200);
    text-shadow: 1px 1px 1px black, 2px 2px 5px black;
}

::selection {
    background-color: rgb(150, 150, 150);
    color: rgb(230, 230, 230);
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ProjectsInlineLink {
    margin: inherit;
    padding: inherit;
    border: none;
    background-color: inherit;
    font: inherit;
    color: rgb(0, 119, 255);
    outline: none;
    padding-right: 1px;
}.ProjectsInlineLink:hover {
    cursor: pointer;
}.ProjectsInlineLink:active {
    padding-right: 0;
    padding-left: 1px;
}


.Projects #projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 480px));
    place-content: center;
    margin: 0;
    width: 90%;
    margin-left: 5%;
    
}






.ProjectCard {
    margin: 30px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
}.ProjectCard p {
    line-height: 25px;
}.ProjectCard:hover {
    margin: 20px;
    padding: 35px;
    cursor: pointer;
    background-color: rgb(40, 40, 40) !important;
}.ProjectCard:active {
    background-color: rgb(60, 60, 60) !important;
}

