.App {
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
    height: 100vh;
    overflow-x: hidden;
}

.AppTop {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 1vw);
}
