.App {
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.AppTop {
    position: absolute;
    top: 0;
    left: 0;
    min-width: calc(calc(100vw - 0.5px) - 2ex);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

