

:root {
    /*
    --color-accent-1: #2a407a;
    --color-accent-2: #4062bb;
    --color-accent-3: #4389D8;
    */
    --color-accent-1: #064CCE;
    --color-accent-2: #0077FF;
    --color-accent-3: #3392FF;
    --color-background-1: #282828;
    --color-background-2: #141414;
}

