body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    --scrollbar-width: calc(100vw - 100%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.InlineLink {
    margin: inherit;
    padding: inherit;
    border: none;
    background-color: inherit;
    font: inherit;
    color: rgb(0, 119, 255);
    outline: none;
    padding-right: 1px;
}.InlineLink:hover {
    cursor: pointer;
    text-decoration: 1px solid underline;
}.InlineLink:active {
    padding-right: 0;
    padding-left: 1px;
}.InlineLink::selection {
    background-color: rgb(150, 150, 150);
}.InlineLink:focus-visible {
    outline: 1px dotted #fff;
}